{% include "layout/header.html" %}

	<style>
		.board-img {
			width: inherit;
		}
		.img-holder {
			height: 100px;
			width: inherit;
			overflow: hidden;
			display: flex;
			align-items: center;
			transition: height 0.2s;
		}
		.board-member {
			height: 130px;
			transition: height 0.2s;
			cursor: pointer;
			border: none;
			box-shadow: 0 0 10px 0 black;
			padding: 0;
			vertical-align: top;
			overflow: hidden;
		}
		.board-member p {
			margin: 4px 0;
		}
		.test {
			height: 500px;
		}
		.test .img-holder {
			height: 200px;
		}
	</style>

	<script>
		$(document).ready(function() {
			$('.board-member').on('click', function(e) {
				$(e.currentTarget).toggleClass('test');
			});
		});
	</script>

	<div class="content-box">
		<h1>About Us</h1>
		
		<div id="board-members">
		{% for boardMember in board %}
			<div class="board-member">
				<div class="img-holder">
					<img class="board-img" src="{{ boardMember.img }}"/>
				</div>
				<p>{{ boardMember.name }}</p>
				<p>{{ boardMember.desc }}</p>
			</div>
		{% endfor %}
		</div>
	</div>

{% include "layout/footer.html" %}