{% include "layout/header.html" %}

	<style>
		.board-img {
			width: inherit;
		}
		.img-holder {
			height: 100px;
			width: inherit;
			overflow: hidden;
			display: flex;
			align-items: center;
			transition: height 0.2s;
		}
		.board-member {
			height: 130px;
			transition: height 0.2s;
			cursor: pointer;
			border: none;
			box-shadow: 0 0 10px 0 black;
			padding: 0;
			vertical-align: top;
			overflow: hidden;
		}
		.board-member p {
			margin: 4px;
		}
	</style>

	<script>
		$(document).ready(function() {
			$('.board-member').on('click', function(e) {
				// $(e.currentTarget).toggleClass('test');
				if ($(e.currentTarget).height() === 130) {
					// resize the image
					let imageSize = $(e.currentTarget).children('.img-holder').children().height();
					$(e.currentTarget).children('.img-holder').css({height: imageSize+"px"});

					// calculate the height of all children of the element and resize accordingly
					let height = imageSize+10;
					for (let i = 1; i < $(e.currentTarget).children().length; i++) {
						height += $(e.currentTarget).children().eq(i).height();
					}
					$(e.currentTarget).css({height: height+"px"});
				}
				else {
					$(e.currentTarget).children('.img-holder').css({height: "100px"});
					$(e.currentTarget).css({height: "130px"});
				}
			});
		});
	</script>

	<div class="content-box">
		<h1>About Us</h1>
		
		<div id="board-members">
		{% for boardMember in board %}
			<div class="board-member">
				<div class="img-holder">
					<img class="board-img" src="{{ boardMember.img }}"/>
				</div>
				<p>{{ boardMember.name }}</p>
				<p>{{ boardMember.desc }}</p>
			</div>
		{% endfor %}
		</div>
	</div>

{% include "layout/footer.html" %}