body, html {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
}

#header {
	background: #DD0031;
	padding: 10px 20px;
	box-shadow: 0 0 10px 0 black;
}

#footer {
	background: #DD0031;
	height: 50px;
	box-shadow: 0 0 10px 0 black;
}

.content-box {
	min-height: calc(100vh - 68px);
	margin: 0 auto;
	width: 90vw;
}

#home-link {
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	color: #000;
}

.nav {
	display: inline-flex;

}
.nav a {
	color: #000;
	text-decoration: none;
	margin-left: 20px;
}
.nav a:hover {
	color: #FFF;
}

#board-members {
	text-align: center;
}

.board-member {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	margin: 5px 10px;
	width: 200px;
}
