<html>
	<head>
		<link rel="stylesheet" href="/static/styles.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<script src="/static/jquery.min.js"></script>

		<title>
			{% if title %}
				{{ title }}
			{% else %}
				Code@IU
			{% endif %}
		</title>
	</head>

	<body>
		<div id="header">
			<a id="home-link" href="/">Code@IU</a>

			<div class="nav">
				<a href="/about">About</a>
				<a href="/calendar">Calendar</a>
				<a href="/videos">Videos</a>
			</div>
		</div>